html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #FBF7EE;
}

.top{
    padding-top: 53px;
    padding-bottom: 12px;
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 260px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

h1{
    position: flex;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 38px;
    /* identical to box height, or 173% */
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

p{
    text-align:center;
}
input{
    /* position:flex; */
    /* width: 211px; */
    /* height: 85.22999999999999px; */
    /* left: 167px;
    top: 123px; */
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 97.5723px;
    line-height: 36px;
    text-align: center;
    outline: none;
    /* color: #FFFFFF; */
    background-color: transparent;
    border:0px;
    border-style: none;
    color:white;
    
}

/* 去除webkit中input的type="number"时出现的上下图标 */
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }

/* 当选中时输入框内颜色消失 */
/* input::selection{
    background-color: transparent;
    border:0px;
    background: transparent;
} */

.info{
    /* position: absolute; */
    display: flex;
    margin-left: 102px;
    margin-right: 102px;
    margin-top: 37px;
    text-align: center;
}

h2{
    /* position: absolute; */
    /* width: 346px;
    height: 25px;
    left: 102px;
    top: 297px; */

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #1A1921;

    line-height: 6;
}
